@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Product Management Page";
}
<br />
<br />
<div class="text-center">
    <h1 class="display-4">Product Management</h1>
</div>
<br />
<br />

<div class="row justify-content-center">
    <h2> Please select the product you would like to view</h2>
</div>
<br />
<br />
<div class="col-md-5 offset-md-5">
    <div class="btn-group">
        <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ---Select---
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Elevator">Elevator</a>
            <a class="dropdown-item" href="/Column">Column</a>
            <a class="dropdown-item" href="/Battery">Battery</a>
        </div>
    </div>

</div>
